body{
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow-x: hidden;
}
.box{
    width: 100%;
    height: 7vh;
    background: #FE6807;
    position: absolute;
    z-index: 4;
}
.text{
    font-size: 1.8vw;
    
}
.tt{
    position: absolute;
    z-index: 4;
    margin-top: 1.5%;
    margin-left: 2%;
}
.tt1{
    position: absolute;
    z-index: 4;
    margin-top: 1.5%;
    margin-left: 62.5%;
}
.liner{
    position: absolute;
    z-index: 4;
    border: 0.5vh solid rgb(0, 0, 0);
    width: 100%;
    margin-top: 4%; 
}
.veb{
    width: 100%;
    margin-top: -0.7%;
    position: absolute;
    z-index: 1;
}
.veb img{
    width: 100%;
}
.box1{
    width: 5.5vw;
    height: 90vh;
    background: #000000;
    position: absolute;
    z-index: 2;
    margin-top: 4%;
    overflow: hidden;
}
.arrow{
    width: 55%;
    position: absolute;
    margin-top: 5%;
    margin-left: 2%;
    animation: up 2s infinite linear;
}
.arrow img{
    width: 55%;
}
@keyframes up {
    0%{transform: translateY(-30vh)}
    100%{transform: translateY(-73.1vh)}
}
.arrow1{
    width: 55%;
    position: absolute;
    margin-top: 5%;
    margin-left: 32%;
    animation: upp 500ms infinite linear;
}
.arrow1 img{
    width: 55%;
}
@keyframes upp {
    0%{transform: translateY(-30vh)}
    100%{transform: translateY(-73.1vh)}
}
.arrow2{
    width: 55%;
    position: absolute;
    margin-top: 5%;
    margin-left: 62%;
    animation: upp 4s infinite linear;
}
.arrow2 img{
    width: 55%;
}
@keyframes upp {
    0%{transform: translateY(-30vh)}
    100%{transform: translateY(-73.1vh)}
}
.box2{
    width: 11.7vw;
    height: 72vh;
    background: #FE6807;
    position: absolute;
    z-index: 2;
    margin-top: 4%;
    margin-left: 88.3%;
}
.cub{
    width: 4.2vw;
    height: 6.2vh;
}
.animation{
    position: absolute;
    margin-top: 35%;
    margin-left: 30%;
    animation: color .6s infinite linear;
    /* animation-delay: 9s; */
    border-radius: 2vh;
    border: 0.6vh solid #181BDF;
}
@keyframes color{
    0% { background-color: none; }
    8% { background-color: #181BDF; }
    92% { background-color: none; }
    100% { background-color: #181BDF; }
}
.animation1{
    position: absolute;
    margin-top: 139%;
    margin-left: 30%;
    animation: color1 .50s infinite linear;
    /* animation-delay: 9s; */
    border-radius: 2vh;
    border: 0.6vh solid #181BDF;
}
@keyframes color1{
    0% { background-color: none; }
    15% { background-color: #181BDF; }
    85% { background-color: none; }
    100% { background-color: #181BDF; }
}
.animation2{
    position: absolute;
    margin-top: 87%;
    margin-left: 30%;
    animation: color2 .30s infinite linear;
    /* animation-delay: 9s; */
    border-radius: 2vh;
    border: 0.6vh solid #181BDF;
}
@keyframes color2{
    0% { background-color: none; }
    25% { background-color: #181BDF; }
    75% { background-color: none; }
    100% { background-color: #181BDF; }
}
.animation3{
    position: absolute;
    margin-top: 191%;
    margin-left: 30%;
    animation: color3 .40s infinite linear;
    /* animation-delay: 9s; */
    border-radius: 2vh;
    border: 0.6vh solid #181BDF;
}
@keyframes color3{
    0% { background-color: none; }
    25% { background-color: #181BDF; }
    75% { background-color: none; }
    100% { background-color: #181BDF; }
}
.animation4{
    position: absolute;
    margin-top: 243%;
    margin-left: 30%;
    animation: color4 .35s infinite linear;
    /* animation-delay: 9s; */
    border-radius: 2vh;
    border: 0.6vh solid #181BDF;
}
@keyframes color4{
    0% { background-color: none; }
    15% { background-color: #181BDF; }
    85% { background-color: none; }
    100% { background-color: #181BDF; }
}
.animation5{
    position: absolute;
    margin-top: 295%;
    margin-left: 30%;
    animation: color5 .30s infinite linear;
    /* animation-delay: 9s; */
    border-radius: 2vh;
    border: 0.6vh solid #181BDF;
}
@keyframes color5{
    0% { background-color: none; }
    30% { background-color: #181BDF; }
    70% { background-color: none; }
    100% { background-color: #181BDF; }
}

.box3{
    width: 11.7vw;
    height: 72vh;
    background: #000000;
    position: absolute;
    z-index: 2;
    margin-top: 4%;
    margin-left: 76.6%;
    rotate: 180deg;
}
.palka{
    width: 1.6vw;
    height: 2vh;
}
.animation6{
    position: absolute;
    margin-top: 17%;
    margin-left: 71%; 
    z-index: 3;
    background: #FE6807;
    animation: palka1 3.5s infinite linear;
}
@keyframes palka1 {
    0%{    height: 1vw; }
    50%{  height: 22vw; }
    100%{    height: 1vw;}
}
.animation7{
    position: absolute;
    margin-top: 17%;
    margin-left: 53%; 
    z-index: 3;
    background: #FE6807;
    animation: palka2 2s infinite linear;
}
@keyframes palka2 {
    0%{    height: 1vw; }
    50%{  height: 18vw; }
    100%{    height: 1vw;}
}
.animation8{
    position: absolute;
    margin-top: 17%;
    margin-left: 35%; 
    z-index: 3;
    background: #FE6807;
    animation: palka3 4.5s infinite linear;
}
@keyframes palka3 {
    0%{    height: 1vw; }
    50%{  height: 37vw; }
    100%{    height: 1vw;}
}
.animation9{
    position: absolute;
    margin-top: 17%;
    margin-left: 17%; 
    z-index: 3;
    background: #FE6807;
    animation: palka4 3.5s infinite linear;
}
@keyframes palka4 {
    0%{    height: 1vw; }
    50%{  height: 30vw; }
    100%{    height: 1vw;}
}
.box4{
    width: 11.7vw;
    height: 72vh;
    background: #FE6807;
    position: absolute;
    z-index: 2;
    margin-top: 4%;
    margin-left: 64.9%;
    overflow: hidden;
}
.twist{
    position: absolute;
    margin-top: 5%;
    margin-left: 8%;
    width: 88%;
    animation: twist 500ms infinite linear;
}
.twist img{
    width: 88%;
}
/*@keyframes twist {
    0%{transform: translateY(0vh); }
    50%{transform: translateY(-3.15vh); transform: scale(1, 2);}
    100%{transform: translateY(-6.3vh); }
}*/
.box5{
    width: 13vw;
    height: 23vh;
    border: 1vh solid #181BDF;
    position: absolute;
    z-index: 3;
    margin-top: 18.5%;
    margin-left: 35.5%;
}
.box6{
    width: 13vw;
    height: 23vh;
    border: 1vh solid #181BDF;
    position: absolute;
    z-index: 3;
    margin-top: 16.4%;
    margin-left: 20.5%;
}
.box7{
    width: 13.8vw;
    height: 14vh;
    background-color:  #00ff9d;
    position: absolute;
    z-index: 3;
    margin-top: 17.6%;
    margin-left: 6%;
    rotate: 180deg;
}
.box8{
    width: 8vw;
    height: 3vh;
    background-color:  #181BDF;
    position: absolute;
    z-index: 3;
    margin-top: 47%;
    margin-left: 0%;
    animation: blue 3s infinite linear;
}
@keyframes blue {
    0%{    width: 0vw; }
    50%{  width: 8vw; }
    100%{    width: 0vw;}
}
.box9{
    width: 8vw;
    height: 2.5vh;
    background-color:  #181BDF;
    position: absolute;
    z-index: 3;
    margin-top: 34%;
    margin-left: 0%;
    animation: blue1 3s infinite linear;
}
@keyframes blue1 {
    0%{    width: 0vw; }
    50%{  width: 8vw; }
    100%{    width: 0vw;}
}
.box10{
    width: 6vw;
    height: 4.2vh;
    background-color:  #181BDF;
    position: absolute;
    z-index: 3;
    margin-top: 13.5%;
    margin-left: 0%;
    animation: blue2 3s infinite linear;
}
@keyframes blue2 {
    0%{    width: 0vw; }
    50%{  width: 8vw; }
    100%{    width: 0vw;}
}
.box11{
    width: 1vw;
    height: 3.2svh;
    background-color:  #181BDF;
    position: absolute;
    z-index: 3;
    margin-top: -2.7%;
    margin-left: 0%;
    animation: blue3 3s infinite linear;
}
@keyframes blue3 {
    0%{    width: 0vw; }
    50%{  width: 8vw; }
    100%{    width: 0vw;}
}
.box12{
    width: 12vw;
    height: 14vh;
    background-color:  #00ff9d;
    position: absolute;
    z-index: 3;
    margin-top: 19.7%;
    margin-left: 50.3%;
}
.box13{
    width: 0.8vw;
    height: 2.3vh;
    background-color:  #181BDF;
    position: absolute;
    z-index: 3;
    margin-top: 16.5%;
    margin-left: 0%;
    animation: blue3 3s infinite linear;
}
.box14{
    width: 3vw;
    height: 3.5vh;
    background-color:  #181BDF;
    position: absolute;
    z-index: 3;
    margin-top: 31%;
    margin-left: 0%;
    animation: blue3 3s infinite linear;
}
.box15{
    width: 0.8vw;
    height: 3.3vh;
    background-color:  #181BDF;
    position: absolute;
    z-index: 3;
    margin-top: 51.5%;
    margin-left: 0%;
    animation: blue3 3s infinite linear;
}
.box16{
    width: 0.8vw;
    height: 2.8vh;
    background-color:  #181BDF;
    position: absolute;
    z-index: 3;
    margin-top: 0%;
    margin-left: 0%;
    animation: blue3 3s infinite linear;
}
/*
@keyframes twist {
    0%{transform: translateY(-30vh)}
    100%{transform: translateY(-65.5vh)}
}
.gifka{
    width: 50%;
    position: absolute;
    z-index: 3;
    margin-top: 300%;
    margin-left: 26%;
}
.gifka img{
    width: 50%;
}
.animation:hover{
    animation-play-state: paused;
}
.gifka{
    width: 50%;
    position: absolute;
    z-index: 3;
    margin-top: 300%;
    margin-left: 26%;
}
.gifka img{
    width: 50%;
}
.arrow2:hover{
    animation-play-state: paused;
} - остановка анимации
animation-play-state: running;
*/
